.mission-vision {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 80x;
  }
  .counters {
    display: flex;
    margin-top: 80px;
  }
  
  .counter-item {
    width: 25%;
  }
  
  .counter-item h3 {
    font-size: 25px;
    font-style: italic;
    font-weight: 200;
    height: 20px;
    color: #333;
  }

  .counter-item p{
    font-size: 55px;
    font-weight: 700;
    color: black;
  }

  @media (max-width: 864px) {
    .counters{
      flex-wrap: wrap;
    }
    .counter-item{
      width: 48%;
    }
  }